.login-box {
	font-family: '맑은 고딕', AppleGothic;
}

.login-box .login-box-top {
	list-style: none;
	padding: 0;
	margin: 0;
}
.login-box .login-box-top li {
	float: left;
	
}

.login-box  .selected {
	background-color: #f5f5f5;
	border: 1px solid #95cfb7;
	border-bottom: 0;
	height: 30px;
	width: 93px;
	text-align: center;
	line-height: 30px;
	position: relative;
	top: 1px;
	color: #4d4d4d;
	z-index: 5;
}

.login-box .unselected {
	background-color: #18a7b5;
	color: #ffffff;
	width: 92px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	position: relative;
	top: 4px;
}

.login-box .unselected a {
	text-decoration: none;
	color: #ffffff;
}

.login-box .login-box-middle {
	border: 1px solid #95cfb7;
	background-color: #f5f5f5;
	width: 170px;
	height: 130px;
	padding: 9px;
	position: relative;
}

.login-box .login-box-middle .input-wrapper {
	border: 1px solid #e5e5e5;
	border-bottom: 0;
	background-color: #ffffff;
	height: 28px;
	overflow: hidden;
	position: relative;
}
.login-box .login-box-middle .border-bottom{
	border-bottom: 1px solid #e5e5e5;
}

.login-box .login-box-middle .input-wrapper input[type='text'], .login-box .login-box-middle .input-wrapper input[type='password'] {
	height: 28px;
	width: 139px;
	background-color: transparent;
	padding-left: 29px;
	line-height: 28px;
	border: 0;
}
.login-box .login-box-middle .input-wrapper .user-icon {
	position: absolute;
	top: 6px;
	left: 9px;
}
.login-box .login-box-middle .input-wrapper .password-icon {
	position: absolute;
	top: 9px;
	left: 9px;
	 
}

.login-box .login-box-middle  .remember_me  {
	margin: 10px 0;
	color: #585858;
	font-size: 9pt;
}

.login-box .login-box-middle  .remember_me .remember-me-check {
	margin-right: 9px;
}

.login-box .login-box-middle .logout-button {
	background-color: #78bb9f;
	display: inline-block;
	color: #ffffff;
	width: 170px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	bottom: 8px;
	left: 10px;
	font-weight: bold;
}
.login-box .login-box-middle .user-info {
	margin-bottom: 10px;
}
.login-box .login-box-middle .user-info, .login-box .login-box-middle .message, .login-box .login-box-middle .point-scrap {
	color: #585858;
	height: 20px;
	padding: 0 0 0 10px;
}

.login-box .login-box-middle .login-message  a{
	color: #585858;
}

.login-box .login-box-middle .point-scrap a {
	color: #585858;
}
.login-box .login-box-middle .point-scrap {
	margin-top: -3px;
	font-size: 9pt;
}

.login-box .login-box-middle .point-scrap .scrap-button {
	background-color: #18a7b5;
	color: #ffffff;
	display: inline-block;
	border-radius: 3px;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;

}

.login-box .login-box-middle .point-scrap .scrap-button:hover {
	text-decoration: none;
}

.login-box .login-box-middle .logout-button:hover {
	text-decoration: none;
}

.login-box .login-box-middle .admin-mode {
	background-color: #78bb9f;
	color: #ffffff;
	text-align: center;
	margin-bottom: 6px;
}
.login-box .login-box-middle .admin-mode a {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
.login-box .login-box-middle .user-info a{
	color: #585858;
}

.login-box .login-box-middle .no_of_unreaded_message {
	display: inline-block;
	height: 15px;
	width: 15px;
	background-color: #655125;
	color: #ffffff;
	border-radius: 50%;
	text-align: center;
	margin-left: 5px;
}

.widget-admin > .button {
	z-index: 9999999;
}
